.ForecastOverlay {
    bottom: 12px;
    left: 12px;
    background: #2b2b2b;
    border: 1px solid grey;
    width: 600px;
    height: 200px;
    position: fixed;
    z-index: 1000;
    color: white;
    position: absolute;

    .forecast-container {
        height: 100%;
        position: relative;
    }

    .city-name {
        font-size: 18px;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        height: 30px;
        border-bottom: 1px solid grey;
    }

    .time-bin-container {
        height: calc(100% - 40px);
        overflow-y: auto;
    }

    .timestamp {
        display: inline-block;
    }

    .weather-icon {
        height: 40px;
        width: 40px;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-color: #1a8cff;
        display: inline-block
    }

    // .storm-showers {mask-image: url('../../assets/weather-icons/wi-storm-showers.svg');}
    // .thunderstorm {mask-image: url('../../assets/weather-icons/wi-showers.svg');}
    // .sprinkle {mask-image: url('../../assets/weather-icons/wi-sprinkle.svg');}
    // .rain {mask-image: url('../../assets/weather-icons/wi-rain.svg');}
    // .rain-mix {mask-image: url('../../assets/weather-icons/wi-rain-mix.svg');}
    // .showers {mask-image: url('../../assets/weather-icons/wi-showers.svg');}
    // .snow {mask-image: url('../../assets/weather-icons/wi-snow.svg');}
    // .sleet {mask-image: url('../../assets/weather-icons/wi-sleet.svg');}
    // .smoke {mask-image: url('../../assets/weather-icons/wi-smoke.svg');}
    // .day-haze {mask-image: url('../../assets/weather-icons/wi-day-haze.svg');}
    // .cloudy-gusts {mask-image: url('../../assets/weather-icons/wi-cloudy-gusts.svg');}
    // .sunny {mask-image: url('../../assets/weather-icons/wi-day-sunny.svg');}
    // .cloudy {mask-image: url('../../assets/weather-icons/wi-cloudy.svg');}
    // .cloudy-gusts {mask-image: url('../../assets/weather-icons/wi-cloudy-gusts.svg');}
    // .thunderstorm {mask-image: url('../../assets/weather-icons/wi-thunderstorm.svg');}


    .storm-showers {mask-image: url('../../assets/weather-icons/wi-storm-showers.svg');}
    .thunderstorm {mask-image: url('../../assets/weather-icons/wi-showers.svg');}
    .sprinkle {mask-image: url('../../assets/weather-icons/wi-sprinkle.svg');}
    .rain {mask-image: url('../../assets/weather-icons/wi-rain.svg');}
    .rain-mix {mask-image: url('../../assets/weather-icons/wi-rain-mix.svg');}
    .showers {mask-image: url('../../assets/weather-icons/wi-showers.svg');}
    .snow {mask-image: url('../../assets/weather-icons/wi-snow.svg');}
    .sleet {mask-image: url('../../assets/weather-icons/wi-sleet.svg');}
    .smoke {mask-image: url('../../assets/weather-icons/wi-smoke.svg');}
    .day-haze {mask-image: url('../../assets/weather-icons/wi-day-haze.svg');}
    .cloudy-gusts {mask-image: url('../../assets/weather-icons/wi-cloudy-gusts.svg');}
    .sunny {mask-image: url('../../assets/weather-icons/wi-day-sunny.svg');}
    .cloudy {mask-image: url('../../assets/weather-icons/wi-cloudy.svg');}
    .cloudy-gusts {mask-image: url('../../assets/weather-icons/wi-cloudy-gusts.svg');}
    .thunderstorm {mask-image: url('../../assets/weather-icons/wi-thunderstorm.svg');}
}