div.global-tooltip.show {
    z-index: 9001;
    max-width: 260px;
    opacity: 1;
}

.leaflet-control-zoom {
    transition: opacity 0.5s ease-in-out;
}

.showcasing {
    .leaflet-control-zoom {
        opacity: 0;
        pointer-events: none;
    }
}