.leaflet-control-progress-bar {
  transition: opacity 0.2s;
  pointer-events: none;
}
.loading-background {
  background: #2b2b2b;
}

.loading-foreground {
  background: white;
}

.loading-text {
  color: white;
  text-align: left;
}

.leaflet-control-container .leaflet-right .leaflet-gac-control {
  min-width: 30px
}